#footer {
  background: #f8f8f8;
  color: $color-t2;
  h1 {
    font-weight: 800;
  }
  h5 {
    color: $color-t1;
    font-size: 16px;
    span {
      font-size: 20px;
      font-weight: 700;
    }
  }
  .f-text-1 {
    font-size: 16px;
  }
  .f-text-2 {
    font-size: 16px;
  }
  i {
    color: $color-2;
    padding: 10px;
  }

  input {
    border-radius: 0;
    width: 10px;
  }
  .btn-outline-secondary {
    border-radius: 0;
    color: #fff;
    border: none;
    background: $color-2;
  }

  .blog {
    display: flex;
    // justify-content: center;
    align-items: center;
    .text {
      padding-left: 10px;
      line-height: 0.2;
    }
  }
}
