#numbers {
  background: $color-2;
  .box {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div {
      width: 220px;
      border: 0.5px solid #fff;
      height: 220px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $color-2;
      h1 {
        font-weight: 700;
        color: #fff;
        font-size: 50px;
      }
      h6 {
        color: #fff;
        font-size: 10px;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .box {
      div {
        width: 110px;
        height: 110px;
        h1 {
          font-weight: 700;
          color: #fff;
          font-size: 40px;
        }
        h6 {
          color: #fff;
          font-size: 8px;
        }
      }
    }
  }
}
