#work {
  overflow: hidden;
  .col-md-6 {
    padding: 0;
  }
}

#work {
  @media only screen and (max-width: 375px) {
    .title-1 {
      &::after {
        bottom: -60%;
      }
    }
  }
}

#unique {
  .main-img {
    position: relative;
    .s-img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
