$color-1: #fbe389;
$color-2: #95e1d3;
$color-3: #f38181;

$color-4: rgba(243, 129, 129, 0.9);
$color-5: rgba(251, 226, 137, 0.9);

$color-t1: #111;
$color-t2: #777;

@import "base";
@import "team";
@import "partner";
@import "work";
@import "blog";
@import "review";
@import "map";
@import "footer";
