@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  color: #111;
  font-family: "Montserrat", sans-serif;
}

.title-1 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 100px;
  position: relative;
}

.title-1::after {
  content: "";
  height: 3px;
  width: 60px;
  background: #f38181;
  position: absolute;
  left: 50%;
  bottom: -100%;
  transform: translateX(-50%);
}

.title-2 {
  font-family: "Kaushan Script", cursive;
  font-size: 28px;
}

.primary-t {
  font-size: 15px;
  font-weight: 600;
}

.sec-t1 {
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  color: #777;
}

.sec-t1-b {
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  color: #777;
  margin-bottom: 32px;
  position: relative;
}

.sec-t1-b::after {
  content: "";
  height: 3px;
  width: 60px;
  background: #f38181;
  position: absolute;
  left: 0%;
  bottom: -120%;
}

.sec-t2 {
  font-size: 12px;
  font-weight: 400;
  color: #777;
}

.sec-t3 {
  color: #777;
  font-size: 13px;
}

#team img {
  margin-bottom: 20px;
}

#team .img-box:hover {
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(251, 226, 137, 0.9));
}

.partner {
  background: #f8f8f8;
}

.partner img {
  padding: 30px 0;
}

#work {
  overflow: hidden;
}

#work .col-md-6 {
  padding: 0;
}

@media only screen and (max-width: 375px) {
  #work .title-1::after {
    bottom: -60%;
  }
}

#unique .main-img {
  position: relative;
}

#unique .main-img .s-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#blog .card-img-top-box {
  position: relative;
}

#blog .card {
  position: relative;
  border-radius: 0;
  border: none;
}

#blog .card .card-date {
  color: #fff;
  position: absolute;
  background: #95e1d3;
  padding: 2px 15px;
  top: 65%;
  left: -3%;
}

#blog .card .card-date h1 {
  font-size: 30px;
  font-weight: 600;
}

#blog .card .card-date h5 {
  margin-top: -10px;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}

#blog .card .card-body {
  padding: 1.5rem 0;
}

#blog .card .card-title {
  font-size: 14px;
}

#blog .card .card-text {
  text-align: justify;
}

#blog .card .card-footer {
  padding-left: 0;
  background: #fff;
}

#blog .card .card-footer i {
  color: #95e1d3;
}

#blog .card .card-footer p {
  color: #777;
  font-weight: 300;
  padding: 0px 7px;
  display: inline;
}

@media only screen and (max-width: 1200px) {
  #blog .card-img-top-box .card-date {
    top: 55%;
  }
}

@media only screen and (max-width: 990px) {
  #blog .card-img-top-box .card-date {
    top: 45%;
  }
}

@media only screen and (max-width: 768px) {
  #blog .card-img-top-box .card-date {
    top: 65%;
  }
}

#review {
  background: url("/img/people_say.jpg") top/cover;
}

#review .review {
  display: flex;
  position: relative;
}

#review .review img {
  height: 80px;
  width: 80px;
  margin-right: 30px;
  clip-path: circle();
}

#review-slide .review {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

#review-slide .review p {
  font-size: 15px;
  font-weight: 400;
  color: #777;
  font-style: italic;
  text-align: justify;
  padding-right: 20px;
}

#review-slide .review .img-box {
  width: 800px;
}

#review-slide .review img {
  height: 200px;
  object-fit: cover;
  clip-path: circle();
}

#review-slide .review .r-text {
  font-family: "Kaushan Script", cursive;
  font-size: 18px;
  padding-left: 80px;
  position: relative;
}

#review-slide .review .r-text::after {
  content: "";
  height: 3px;
  width: 60px;
  background: #f38181;
  position: absolute;
  left: 0%;
  bottom: 8px;
}

@media only screen and (max-width: 768px) {
  #review-slide .review {
    flex-flow: column;
  }
  #review-slide .review .img-box {
    width: auto;
  }
  #review-slide .review img {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 576px) {
  #review-slide .review {
    flex-flow: column;
  }
  #review-slide .review img {
    margin-bottom: 20px;
  }
}

i {
  color: #111;
}

.carousel-control-next,
.carousel-control-prev {
  width: 0%;
}

#map {
  background: url("../img/map.jpg");
}

#map i {
  color: #f38181;
}

#map .map-text {
  font-size: 20px;
  font-weight: 600;
  color: #f38181;
  margin-bottom: 32px;
  position: relative;
}

#map .map-text::after {
  content: "";
  height: 3px;
  width: 60px;
  background: #f38181;
  position: absolute;
  left: 50%;
  bottom: -120%;
  transform: translateX(-50%);
}

#footer {
  background: #f8f8f8;
  color: #777;
}

#footer h1 {
  font-weight: 800;
}

#footer h5 {
  color: #111;
  font-size: 16px;
}

#footer h5 span {
  font-size: 20px;
  font-weight: 700;
}

#footer .f-text-1 {
  font-size: 16px;
}

#footer .f-text-2 {
  font-size: 16px;
}

#footer i {
  color: #95e1d3;
  padding: 10px;
}

#footer input {
  border-radius: 0;
  width: 10px;
}

#footer .btn-outline-secondary {
  border-radius: 0;
  color: #fff;
  border: none;
  background: #95e1d3;
}

#service .card {
  border-radius: 0;
}

#service .card .card-header {
  background: #fff;
}

#service .card .card-header h5 {
  font-weight: 600;
}

#service i {
  color: #95e1d3;
  padding-right: 10px;
}

#service Button {
  border: none;
  float: right;
  padding: 0;
  line-height: 1;
}

#service Button i {
  color: #777;
}

#service Button[aria-expanded="false"] i {
  transform: rotate(180deg);
}

#amazing-service i {
  font-size: 45px;
  color: #95e1d3;
}

#navv {
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(251, 226, 137, 0.9)), url("../img/header.png") no-repeat top/cover;
  color: #fff;
}

#navv .hero-box {
  height: 80vh;
}

#navv #navbar .fa-bars {
  color: #fff;
}

#navv #navbar .nav-item .btn-primary {
  border: none;
}

#navv #navbar .nav-item .btn-primary:focus {
  background: none;
}

#navv #navbar .nav-item .btn-primary:active {
  border: transparent;
}

#navv #navbar .nav-item .btn-primary i {
  color: #fff;
}

#navv #navbar .nav-item .btn-primary::after {
  background: none;
}

#navv #navbar .nav-item .btn-primary:hover {
  background: none;
}

#navv #navbar .nav-item .modal-content {
  color: #111;
}

#navv #navbar .nav-item .modal-content input {
  width: 100%;
}

#navv #navbar .nav-item .modal-content .btn-primary {
  color: #fff;
  background: #f38181;
}

#navv #navbar .nav-item .modal-content .btn-primary:hover {
  border: none;
}

#navv .nav-link {
  color: #fff;
  margin-left: 15px;
}

#navv .nav-link i {
  color: #fff;
}

#navv .nav-link:hover {
  color: #fbe389;
  border-bottom: 1px solid #fbe389;
}

@media screen and (max-width: 768px) {
  #navv .nav-link {
    margin-left: 0px;
  }
}

#navv h3 {
  color: #fff;
  font-weight: 700;
}

#navv h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
}

#navv h1 {
  font-size: 5.8rem;
  font-weight: 700;
}

@media screen and (max-width: 750px) {
  #navv h2 {
    font-size: 2rem;
  }
  #navv h1 {
    font-size: 3.8rem;
  }
}

@media screen and (max-width: 576px) {
  #navv h2 {
    font-size: 1.6rem;
  }
  #navv h1 {
    font-size: 2.8rem;
  }
  #navv .mogo {
    margin-top: -25px;
  }
}

#navv .mogo {
  margin-top: -30px;
  position: relative;
  margin-bottom: 50px;
}

#navv .mogo::after {
  content: "";
  height: 3px;
  width: 60px;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translateX(-50%);
}

@media screen and (max-width: 576px) {
  #navv .mogo {
    margin-top: -25px;
  }
}

#navv .btn-primary {
  background: transparent;
  border-radius: 0;
  border: 1px solid #fff;
}

#navv .btn-primary:hover {
  background: #fff;
  color: #111;
}
